.header {
	background-color: darkturquoise;
	height: 40px;
	position: fixed;
	width: 100%;
	z-index: 1;
}

.navigation {
	height: 40px;
	display: flex;
	align-items: center;
}

.nav-list {
	margin-block-start: 0;
	margin-block-end: 0;
	margin-left: 16px;
	display: flex;
	align-items: center;
	color: white;
	list-style-type: none;
	gap: 16px;
}

.content {
	background-color: beige;
	height: 5000px;
	display: flex;
	justify-content: center;
	padding-top: 200px;
	z-index: 2;
}

.head {
	position: relative;
	width: 200px;
	height: 200px;
	background-color: aquamarine;
}

.ear {
	position: absolute;
	width: 40px;
	height: 60px;
	background-color: brown;
}

.ear_right {
	top: -60px;
	left: -40px;
}

.ear_left {
	top: -60px;
	left: 200px;
}

.eye {
	position: absolute;
	top: 80px;
	width: 30px;
	height: 30px;
	background-color: grey;
	border-radius: 50%;
}

.eye_right {
	left: 40px;
}

.eye_left {
	right: 40px;
}
