* {
	box-sizing: border-box;
}

.text {
	box-sizing: border-box;
	margin: 16px 0 0 16px;
	border-bottom: 1px dotted black;
}

.tooltip {
	position: relative;
	box-sizing: border-box;
	background-color: gray !important;
	color: white;
	border-radius: 4px;
	padding: 8px;
	right: 100px;
	bottom: -32px;
}