* {
	box-sizing: border-box;
}

.row {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-items: center;

}
.column {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.small-bird {
	width: 64px;
	height: 64px;
}

.large-bird {
	width: 282px;
	height: 282px;
}