.checkbox {
	position: relative;
	padding-left: 35px;
	font-size: 24px;
	margin: 16px;
	display: block;
}

input[type="checkbox"] {
	visibility: hidden;
}

.checkmark {
	position: absolute;
	display: inline-block;
	width: 25px;
	height: 25px;
	background-color: #006400;
	left: 0;
}

input:checked + .checkmark {
	background-color: #d3d3d3;
}