@import 'variables.scss';

.header {
	height: $unit * 7;
	background-color: $color-grey;
}

.nav-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	height: $unit * 7;

	&__item {
		border-radius: $border-radius;
		color: $text-color-secondary;
		padding: $unit;
		margin-left: $unit;
		font-weight: 700;
		cursor: pointer;
		background-color: $color-secondary;

		&_selected {
			background-color: $color-primary;
		}

		&:hover {
			opacity: 0.7;
		}
	}
}
