.static-parent > .tip {
	position: static;
}

.relative-parent > .tip {
	position: relative;
	top: 20px;
	left: 50px;
}

.absolute-parent > .tip {
	position: absolute;
	right: 20px;
	left: 50px;
}

.fixed-parent > .tip {
	position: fixed;
	bottom: 20px;
	left: 30px;
}