.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.header {
	height: 40px;
	background-color: yellow;
	display: flex;
	align-items: center;
}

.navigation__list {
	display: flex;
	align-items: center;
	list-style-type: none;
	gap: 16px;
	padding-inline-start: 0;
	margin-left: 16px;
}

.main {
	flex-grow: 1;
	display: flex;
}

.flexbox {
	background-color: pink;
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.flexbox__title,
.sidebar__title,
.footer__title {
	margin: 0;
}

.sidebar {
	width: 200px;
	background-color: grey;
}

.sidebar__title {
	text-align: center;
	margin: 16px;
}

.sidebar__list {
	list-style-type: none;
	padding: 0;
	margin-left: 16px;
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding-top: 16px;
}

.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	background-color: green;
}

.footer__title {
	font-size: 16px;
}