section {
  background: aquamarine;
  padding: 16px;
}

.square {
  width: 100px;
  height: 100px;
}

footer {
  height: 30px;
  border: 2px solid black;
}

.red {
	background-color: red;
}

.green {
	background-color: green;
}

.container .green {
	float: left;
}

.container .red {
	float: right;
}

.footer {
	box-sizing: border-box;
	clear: both;
}

.container {
	box-sizing: border-box;
	float: left;
	width: 50%;
}
