* {
	box-sizing: border-box;
}

.container {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.fancy-button {
	width: 150px;
	height: 50px;
	border-radius: 4px;
	background: linear-gradient(45deg, yellow, red);
	border: 0;
	color: white;
	text-transform: uppercase;
	font-weight: 700;
	font-family: Arial, Helvetica, sans-serif;
	animation: jump 0.5s ease-in-out backwards .4s, rotate .5s ease-in-out, move 1s ease 2s forwards;
}

@keyframes jump {
	from {
		transform: translateY(0);
		rotate: 0;
	}
	to {
		transform: translateY(-40px);
		rotate: 360;
	}
}

@keyframes rotate {
	from {
		rotate: 0;
	}
	to {
		rotate: 360deg;
	}
}

@keyframes move {
	from {
		transform: translateX(2000px);
	}
}