* {
	box-sizing: border-box;
}

.dropdown {
	margin: 16px;
	display: inline-block;
}

.menu-button {
	display: inline-block;
	padding: 16px;
	background-color: darkgreen;
	opacity: 0.8;
	font-size: 16px;
	color: white;
	cursor: pointer;
}

.menu-list {
	display: none;
	margin-block-start: 0;
	background-color: lightcyan;
	color: black;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	width: 120px;
	z-index: 1;
}

.menu-list {
	padding: 0;
}

.menu-item {
	list-style-type: none;
	padding: 16px;
}

.menu-button:hover {
	opacity: 1;
}

.dropdown:hover .menu-list {
	display: block;
}

.menu-item:hover {
	background-color: ghostwhite;
	cursor: pointer;
}